

.feedback__title {
  @include headline();
}

.feedback__slogan {
  @include text();
  padding: 10px;
  line-height: 24px;
}



///tablet

@media (min-width: $tablet-width) {


  .feedback {
    @include tablet-container();


    }

  .feedback__header {
    width: 455px;
    margin: 0 auto;
  }
}

///desktop

@media (min-width: $desktop-width) {
  .feedback {
    @include desktop-container();
  }
}
