.feedback-form__fieldset {
  margin: 0;
  border: 0;
  border-bottom: 1px solid $photo-border;

  &:last-child {
    border-bottom: none;
  }
}

.feedback-form__input::placeholder {
  @include form-text();
  text-transform: none;
  color: $main-text-color;
}

.feedback-form__legend {
  @include headline();
  width: 100%;
  padding-top: 18px;
  padding-bottom: 13px;
  text-align: center;
}

.feedback-form__input--text,
.feedback-form__textarea {
  @include form-text();
  text-transform: none;
  color: $main-text-color;
  background-color: $input-main;
  border: none;
  box-sizing: border-box;
  padding: 17px 20px;

  &:hover {
    background-color: $input-main-hover;
  }

  &:focus,
  &:active {
    background-color: $bg;
    outline: none;
    box-shadow: 0 0 0 4px $input-main-hover inset;
  }
}

.feedback__slogan {
  margin-bottom: 10px;
}

.feedback-form__label--text {
  @include subtitle();
  padding-right: 10px;
}

.feedback-form__input-wrapper--fullname .feedback-form__label--text {
  text-transform: uppercase;
}

.feedback-form__input--text {
  width: 180px;
  flex-grow: 1;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 18px;
}

/*fullname*/

.feedback-form__fieldset--fullname {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3px;
}

.feedback-form__input-wrapper--fullname {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  padding-top: 1px;
}

.feedback-form__icon {
  display: flex;
  width: 280px;
}

.feedback-form__icon::after {
  content: "";
  min-width: 58px;
  background-color: $form-icon;
  background-position: center;
  background-size: 18px;
  background-repeat: no-repeat;
}

.feedback-form__icon--tel::after {
  background-image: url("../img/icon-phone.svg");
}

.feedback-form__icon--mail::after {
  background-image: url("../img/icon-mail.svg");
}

.feedback-form__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }
}

.feedback-form__input-wrapper--contact {
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 15px;
}

.feedback-form__input-wrapper--contact .feedback-form__label--text {
  padding-left: 20px;
  text-transform: uppercase;
}

.feedback-form__input-wrapper--mail {
  margin-top: -4px;
}

.feedback-form__icon--tel,
.feedback-form__icon--mail {
  padding-top: 10px;
}

.feedback-form__fieldset--impression {
  padding-bottom: 20px;
}

.feedback-form__input-wrapper--impression {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 23px;
}

.feedback-form__label--radio {
  @include form-text();
  text-transform: none;
  color: $main-text-color;
  padding-left: 70px;
}

.feedback-form__label--radio::before {
  content: "";
  width: 21px;
  height: 21px;
  border: 17px solid $input-main;
  border-radius: 50%;
  background-color: $input-main;
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 10px;
}

.feedback-form__label--radio:hover::before {
  background-color: $input-main-hover;
  border-color: $input-main-hover;
}

.feedback-form__label--radio:focus::before,
.feedback-form__label--radio:active::before {
  background-color: $input-main-down;
  border-color: $input-main-down;
}

.feedback-form__input--radio:checked ~ .feedback-form__label--radio::before,
.feedback-form__input--radio:checked ~ .feedback-form__label--radio:hover::before {
  background-color: $main-text-color;
}

.feedback-form__input:checked ~ .feedback-form__input__label--radio:focus::before,
.feedback-form__input--radio:checked ~ .feedback-form__label--radio:active::before {
  background-color: rgba($main-text-color, 0.3);
}

.feedback-form__input--radio:disabled ~ .feedback-form__label--radio {
  opacity: 0.3;
}

.feedback-form__input--radio:disabled ~ .feedback-form__label--radio::before {
  background-color: $input-main;
  border-color: $input-main;

  &:hover,
  &:focus,
  &:active {
    background-color: $input-main;
    border-color: $input-main;
  }
}

.feedback-form__label--checkbox,
.feedback-form__input::placeholder,
.feedback-form__label--radio {
  @include form-text();
  text-transform: none;
  color: $main-text-color;
}

.feedback-form__fieldset--sights {
  margin-top: 0;
  padding-bottom: 2px;
}

.feedback-form__input-wrapper--sights {
  justify-content: flex-start;
  margin-bottom: 20px;
  position: relative;
  padding-top: 17px;
  padding-bottom: 17px;
}

.feedback-form__label--checkbox {
  @include form-text();
  text-transform: none;
  color: $main-text-color;
  padding-left: 88px;
}

.feedback-form__label--checkbox::before {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  margin-right: 24px;
  background-color: $input-main;
  border-radius: 5px;
  cursor: pointer;
  top: 0;
  left: 7px;
}

.feedback-form__label--checkbox:hover::before {
  background-color: $input-main-hover;
}

.feedback-form__label--checkbox:focus::before,
.feedback-form__label--checkbox:active::before {
  background-color: $input-main-down;
}

.feedback-form__input--checkbox:checked ~ .feedback-form__label--checkbox::before {
  position: absolute;
  background-position: center;
  background-image: url("../img/icon-tick.svg");
  background-size: 25px;
  background-repeat: no-repeat;
}

.feedback-form__input--checkbox:checked ~ .feedback-form__label--checkbox:hover::before {
  background-image: url("../img/icon-tick.svg");
}

.feedback-form__input--checkbox:checked ~ .feedback-form__label--checkbox:focus::before,
.feedback-form__input--checkbox:checked ~ .feedback-form__label--checkbox:active::before {
  background-image: url("../img/icon-tick_down.svg");
}

.feedback-form__input--checkbox:disabled ~ .feedback-form__label--checkbox {
  opacity: 0.3;
}

.feedback-form__input--checkbox:disabled ~ .feedback-form__label--checkbox::before {
  background-color: $input-main;
  background-image: none;
}

.feedback-form__submit {
  width: 280px;
}

.feedback-form__fieldset--emotions {
  padding-left: 20px;
  padding-bottom: 42px;
}

.feedback-form__textarea {
  width: 280px;
  box-sizing: border-box;
  min-height: 160px;
  margin: 0 auto;
  margin-bottom: 47px;

  &::placeholder {
    @include form-text();
    text-transform: none;
    color: $main-text-color;
    margin: 0 auto;
  }
}

.feedback-form__required {
  display: none;
}


///tablet

@media (min-width: $tablet-width) {
  .feedback-form {
    max-width: 648px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
  }

  .feedback-form__fieldset {
    border-bottom: none;
    width: 50%;
    box-sizing: border-box;
    padding: 0;

    &:last-child {
      border-bottom: none;
    }
  }

  .feedback__slogan {
    margin-bottom: 17px;
  }

  .feedback-form__legend {
    font-size: 21px;
    padding-top: 20px;
    text-align: center;
  }

  .feedback-form__legend--fullname {
    text-align: left;
  }

  .feedback-form__input-wrapper--fullname:nth-child(1) {
    margin-top: 43px;
    padding-left: 3px;
  }

  .feedback-form__fieldset--fullname {
    padding-left: 55px;
    padding-right: 0;
    border-left: 1px solid $photo-border;
    margin-bottom: -5px;
  }

  .feedback-form__fieldset--impression .feedback-form__input-wrapper {
    padding-bottom: 24px;
  }

  .feedback-form__fieldset--impression {
    order: -1;
  }

  .feedback-form__input-wrapper--impression {
    padding-left: 5px;
    margin-top: 40px;
    margin-bottom: -33px;
  }

  .feedback-form__fieldset--impression .feedback-form__legend {
    text-align: left;
  }

  .feedback-form__label--radio::before {
    top: 5px;
    left: 0;
  }

  .feedback-form__fieldset--sights .feedback-form__legend {
    padding-bottom: 42px;
  }

  .feedback-form__wrapper--sights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 45px;
  }

  .feedback-form__fieldset--sights {
    width: 100%;
    margin-bottom: 18px;
  }

  .feedback-form__input-wrapper--sights {
    width: 50%;
    padding-bottom: 25px;
  }

  .feedback-form__wrapper--contact {
    margin-bottom: 8px;
    margin-top: 25px;
  }

  .feedback-form__fieldset--contact:nth-child(2) {
    margin-top: 32px;
  }

  .feedback-form__icon {
    display: flex;
    width: 647px;
  }

  .feedback-form__input-wrapper--contact {
    padding-left: 0;
    padding-bottom: 22px;
  }

  .feedback-form__input-wrapper--contact .feedback-form__label--text {
    text-transform: uppercase;
  }

  .feedback-form__textarea {
    width: 650px;
    min-height: 160px;
    margin-top: 45px;
    margin-bottom: 55px;
  }

  .feedback-form__required {
    display: block;
    padding-top: 5px;
  }

  .feedback-form__buttom {
    display: flex;
    justify-content: space-between;
  }

  .feedback-form__submit {
    width: 323px;
  }
}

///desktop


@media (min-width: $desktop-width) {
  .feedback-form {
    max-width: 960px;
    width: 100%;
  }

  .feedback__title {
    margin-top: 6px;
  }

  .feedback__slogan {
    margin-top: -3px;
    margin-left: -13px;
    margin-bottom: 0;
  }

  .feedback-form__input-wrapper--fullname:nth-child(1) {
    margin-top: 47px;
    padding-left: 22px;
  }

  .feedback-form__fieldset--fullname {
    padding-bottom: 9px;
  }


  .feedback-form__wrapper--contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7px;
    margin-top: 35px;
  }

  .feedback-form__fieldset--contact {
    flex-basis: 960px;
    font-size: 14px;
    margin-bottom: -3px;

    &:nth-child(2) {
      margin-top: 28px;
    }
  }

  .feedback-form__icon {
    display: flex;
    width: 314px;
  }

  .feedback-form__legend {
    text-align: center;
  }

  .feedback-form__input-wrapper--contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    margin-top: 32px;
    margin-left: -20px;
    padding-bottom: 26px;
  }

  .feedback-form__invisible {
    display: none;
  }

  .feedback-form__wrapper--contact .feedback-form__label {
    margin-top: 10px;
  }

  .feedback-form__fieldset--emotions {
    margin-bottom: 15px;
    margin-top: -27px;
  }

  .feedback-form__fieldset--emotions .feedback-form__legend {
    margin-bottom: -2px;
    text-align: center;
  }


  .feedback-form__textarea {
    width: 960px;
    margin-bottom: 60px;
  }

  .feedback-form__legend--fullname {
    text-align: left;
    padding-left: 25px;
  }

  .feedback-form__input-wrapper--fullname .feedback-form__input--text {
    width: 310px;
  }

  .feedback-form__fieldset--impression .feedback-form__legend {
    text-align: center;
    padding-right: 51px;
  }

  .feedback-form__input-wrapper--impression {
    margin-top: 42px;
  }

  .feedback-form__input-wrapper--fullname {
    padding-left: 25px;
    display: flex;
    align-items: center;
    margin-bottom: -4px;
  }

  .feedback-form__label--checkbox {
    padding-left: 82px;
  }

  .feedback-form__input-wrapper--sights:nth-child(2) {
    margin: 0;
  }

  .feedback-form__label--checkbox::before {
    top: 2px;
    left: 0;
  }

  .feedback-form__input-wrapper--sights {
    width: 250px;
    margin-bottom: 20px;
    padding-top: 13px;

    &:last-child {
      width: 182px;
    }

    &:nth-child(4) {
      margin-right: 22px;
      margin-left: -20px;
    }
  }

  .feedback-form__wrapper--sights {
    justify-content: space-between;
    padding: 0;

    &:first-child {
      margin-right: -20px;
      margin-top: 4px;
      margin-bottom: -3px;
    }

    &:nth-child(2) {
      margin-left: 0;
    }
  }

  .feedback-form__submit {
    display: block;
    width: 480px;
  }
}
