/// mobile

.main-nav {
  position: relative;
  background-color: $bg;
  width: 320px;
  min-height: 56px;
  margin: 0 auto;
  z-index: 10;
}

.main-nav__list {
  @include list-style();
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-nav__logo {
  display: block;
}

.main-nav__button {
  width: 23px;
}

.main-nav__button--close {
  fill: #ffffff;
}

.main-nav__button--open {
  fill: $main-color;
}

.main-nav__item {
  @include headline();
  position: relative;
  font-size: 18px;
  height: 55px;
  background-color: $main-color;
  line-height: 40px;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  border-top: 1px solid $border-top-color;
  border-bottom: 1px solid $border-bottom-color;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  &:nth-child(3) {
    background-color: transparent;
  }

  &:hover {
    background-color: $btn-hover-color;
  }

  &:focus,
  &:active {
    background-color: $btn-down-color;
  }
}

.main-nav__item a {
  display: block;
  padding: 5px;
  color: $bg;
  text-decoration: none;
}

.main-nav__item--logo a {
  display: block;
  padding: 0;
  background-color: transparent;
}

.main-nav__item--logo {
  order: 4;
}

.main-nav__logo-img {
  max-width: 102px;
}

.main-nav__item:focus a,
.main-nav__item:active a {
  color: rgba($bg, 0.3);
}

/*кнопка*/

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  outline: none;
  display: block;
  width: 70px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: transparent;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: transparent;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  left: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 23px;
    width: 28px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

/*кнопка*/

///tablet

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    @include headline();
    font-size: 14px;
    width: 20%;
    background-color: $bg;
    line-height: 40px;
    border: none;

    &:hover {
      background-color: $bg;
    }

    &:focus,
    &:active {
      background-color: $bg;
    }
  }

  .main-nav__item a {
    color: $main-text-color;

    &:hover {
      color: #88b6d1;
    }

    &:focus,
    &:active {
      color: $text-down-color;
    }
  }

  .main-nav__item--logo {
    order: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    @include desktop-container();
  }

  .main-nav__logo-img {
    max-width: 182px;
  }
}
