.page-main {
  @include mobile-container();
  max-width: 320px;
}

.page-main__main-headline {
  @include headline();
}

.page-main__main-headline--white {
  @include headline();
  color: $bg;
}

.page-main__plain-text--white {
  @include text-light();
  font-family: $base-font;
}

.page-main_form-header {
  width: 320px;
}

///tablet

@media (min-width: $tablet-width) {
  .page-main {
    @include tablet-container();
    max-width: 768px;

    .page-main_form-header {
      width: 100%;
    }
  }
}

///desktop

@media (min-width: $desktop-width) {
  .page-main {
    @include desktop-container();
    max-width: 1200px;
  }
}
