.page-footer {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  background-color: $bg;
  text-align: center;
  margin: 0 auto;
}

.page-footer__hashtag {
  @include headline();
}

/// tablet

@media (min-width: $tablet-width) {
  .page-footer {
    width: 648px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.page-footer__copyright {
  display: flex;
}


/// desktop

@media (min-width: $desktop-width){

.page-footer {
  width: 1200px;
  padding: 0;
  justify-content: space-around;
  margin-top: 30px;
}
}
