.page-main {
  @include mobile-container();
  max-width: 320px;
  margin-top: -45px;
}

.page-main__main-headline {
  @include headline();

}

.page-main__main-headline--white {
  @include headline();
  color: $bg;
}

.page-main__plain-text--white {
  @include text-light();
  font-family: $base-font;
}

.page-main__plain-text {
  @include text();

}


.page-main_form-header {
  width: 320px;
}

.page-main__header-picture--wrapper {
  margin-top: -20px;
}

.page-main__header-picture {
  position: relative;
  min-height: 390px;

  background-color: $btn-hover-color;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: 100%, cover;
  box-sizing: border-box;

  padding-top: 90px;
  margin-bottom: -16px;
}

.page-main__header-picture__main {
  display: block;
}


.page-main__header-picture--small {
  height: 159px;
  position: relative;
  padding-top: 90px;
  background-color: #f4b0a3;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile-small@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: 100%, cover;
  box-sizing: border-box;
  margin-top: -40px;
}

.page-main__header-picture--text {
  position: absolute;
  max-width: 280px;
  left: 20px;

}

.page-main__header-picture--text-form {
  position: absolute;
  max-width: 280px;
  left: 20px;
  top: 40px;
}







///tablet

@media (min-width: $tablet-width) {
  .page-main {
    @include tablet-container();
    max-width: 768px;

    .page-main_form-header {
      width: 100%;
    }

    .page-main__header-picture--small {
      height: 293px;

      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");

      margin-top: -40px;
    }

    .page-main__header-picture--text-form {

      max-width: 463px;
      left: 152px;
      top: 80px;
    }
  }
}

///desktop

@media (min-width: $desktop-width) {
  .page-main {
    @include desktop-container();
    max-width: 1200px;
  }

  .page-main__header-picture--small {
    height: 393px;

    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");

    margin-top: -40px;
  }

  .page-main__header-picture--text-form {
    max-width: 463px;
    left: 452px;
    top: 180px;
  }
}

