
.page-main__main-headline {
  @include headline();
}

.page-main__main-headline--white {
  @include headline();
  color: $bg;
}

.page-main__plain-text--white {
  @include text-light();
  font-family: $base-font;
}

.page-main__plain-text {
  @include text();

}


.page-main__header-picture--wrapper {
  margin-top: -20px;
}

.page-main__header-picture {
  position: relative;
  min-height: 390px;
  background-color: $btn-hover-color;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile_new@1x.jpg");

  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: 100%, cover;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 90px;
  margin-bottom: -15px;
}

.page-header__promo-pic {
  display: block;
  width: 280px;
  margin: 0 auto;
}

.page-main__picture-small {
  height: 160px;
  position: relative;
  background-color: #f4b0a3;
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
  url("../img/text-sedona.svg"),
  url("../img/bg-back-mobile_new@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center, center;
  background-size: 100%, 230px, cover;
  box-sizing: border-box;
  margin-bottom: 8px;
}


///tablet

@media (min-width: $tablet-width) {
    .page-main__header-picture {
      min-height: 519px;
      background-image: url("../img/bg-intro-triangle-mobile.svg"),

      url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: bottom, center;
      background-size: 100%, cover;
      padding-top: 90px;
      margin-bottom: -10px;
    }

    .page-header__promo-pic {
      width: 462px;
    }

    .page-main__picture-small {
      height: 290px;
      background-image: url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/text-sedona.svg"),
      url("../img/bg-back-tablet@1x.jpg");
      background-size: 100%, 461px, cover;
      margin-bottom: 74px;
    }
  }


///desktop

@media (min-width: $desktop-width) {

  .page-main__header-picture {
    min-height: 519px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
    url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom, center;
    background-size: 100%, cover;
    padding-top: 90px;
    margin-bottom: -16px;
  }

  .page-header__promo-pic {
    width: 462px;
  }


  .page-main__picture-small {
    height: 302px;
    background-image: url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/text-sedona.svg"),
    url("../img/bg-back-tablet@1x.jpg");
    background-size: 100%, 461px, cover;
    margin-bottom: 112px;
  }

  .page-main__header-picture--text-form {
    max-width: 463px;
    left: 452px;
    top: 180px;
  }
}

