.photo {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
  padding-bottom: 20px;
}

.photo__wrapper {
  border-top: 1px solid $form-border;
  padding-top: 22px;

  &:last-child {
    border-bottom: 1px solid $form-border;
  }
}

.photo__header {
  margin: 0 auto;
}

.photo__subtitle {
  @include text();
  padding-top: 8px;
  padding-bottom: 10px;
  line-height: 26px;
}

.photo__author {
  @include photo-description-text();
  font-family: "PT Sans", sans-serif;
  margin-top: -14px;
  color: $main-text-color;
  text-transform: none;
  margin-bottom: -6px;
}

.photo__title {
  @include photo-description-text();
}

.photo__sum-likes {
  @include photo-description-text();
}

.photo-like-icon {
  width: 22px;
  height: 20px;
  margin-right: 10px;
  fill: #b2b2b2;
}

.photo__like {
  background-color: transparent;
  border: none;
  outline: none;
  padding-top: 10px;
  margin-left: -10px;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .photo {
    width: 648px;
    padding: 0;
    margin: 0 auto;
    padding-bottom: 33px;
    margin-top: 70px;
  }

  .photo__caption {
    font-size: 30px;
    }

  .photo__header {
    width: 435px;
  }

  .photo__subtitle {
    padding-bottom: 55px;
  }

  .photo__gallary {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -4px;
  }

  .photo__wrapper {
    flex-basis: 324px;
    border: none;
    padding: 0;
    align-items: center;

    &:first-child {
      flex-basis: 100%;
    }
  }

  .photo__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
    background-color: $input-main;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: -6px;
  }

    .photo__text {
      margin-top: -20px;
    }

@media (min-width: $tablet-width) and (max-width: 1199px){
    .photo__wrapper:nth-child(n+3):nth-child(odd) .photo__description{
      background-color: #e9e9e9;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo {
    width: 100%;
    margin-top: 110px;
  }

  .photo__wrapper {
    position: relative;
  }

  .photo__header {
     margin-bottom: 22px;
  }

  .photo__description {
    position: absolute;
    bottom: 4px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: $bg;
  }

  .photo__description p,
  .photo__description span{
     color: $bg;
  }

  .photo-like-icon {
    fill: $bg;
  }

  .photo__wrapper {
    flex-basis: 400px;
    border: none;
    margin-top: -4px;

    &:first-child {
      flex-basis: 100%;
    }
  }
}

