.photo {
  @include mobile-container();
}

.photo__wrapper {
  border-top: 1px solid $form-border;
  padding-top: 10px;

  &:last-child {
    border-bottom: 1px solid $form-border;
  }
}

.photo__header {
  width: 320px;
  margin: 0 auto;
}


.photo__author {
  @include photo-description-text();
  padding-top: 3px;
  padding-bottom: 10px;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  color: $main-text-color;
  text-transform: none;
}

.photo__title,
.photo__sum-likes {
  @include photo-description-text();
  padding-top: 10px;
  padding-bottom: 10px;
}

.photo__sum-likes {
  padding-left: 42px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 1px 1px;/*?*/
  box-sizing: border-box;
}


@media (min-width: $tablet-width) {

  .photo {
    width: 100%;
  }

  .photo__header {
    width: 435px;
    background-color: $bg;
  }

  .photo__gallary {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .photo__wrapper {
    flex-basis: 50%;
    border: none;

    &:first-child {
      flex-basis: 100%;
    }
  }

  .photo__description {
    display: flex;
    flex-wrap: wrap;
    background-color: $input-main;
    justify-content: space-between;
    align-items: center;
  }
}


  @media (min-width: $desktop-width) {

    .photo {
      width: 100%;
    }

    .photo__wrapper {
      position: relative;
    }

    .photo__description {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

  }
