/// mobile

.reasons__header {
  width: 320px;
  /*padding-left: 20px;
  padding-right: 20px;*/
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: $bg;
  margin: 0 auto;
}

.reasons__subtitle {
  @include text();
  margin-top: 30px;
}

.reasons__list {
  @include list-style();

  background-color: $bg;
}


.reasons__item {
  text-align: center;
  padding-top: 32px;
  /*padding-right: 15px;
  padding-left: 15px;*/
  padding-bottom: 32px;
  box-sizing: border-box;

  &--advantage {
    background-color: #eeeeee;
    padding-top: 32px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #d6d6d6;
}

  &--short:last-child {
    border-bottom: none;
  }
}

.reasons__name,
.reasons__text {
  padding: 0;
  line-height: 26px;

  &--detailed {
    color: $bg;
  }
}








/// left
.reasons__text,
.reasons__name {
  text-align: left;
  padding-left: 50px;
}

.reasons__name--town {
  text-align: left;
  padding-left: 50px;
}




.reasons__text{
  padding-bottom: 8px;
}

.reasons__subtitle--recommendation {
  text-align: left;
  padding-left: 50px;
}

.reasons__item--accommodation {
  background-image: url("../img/icon-house.svg");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-size: 37px 37px;
}

.reasons__item--souvenirs {
  background-image: url("../img/icon-gift.svg");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-size: 37px 37px;
}

.reasons__item--food {
  background-image: url("../img/icon-burger.svg");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-size: 37px 37px;
}


///tablet

@media (min-width: $tablet-width) {

  .reasons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

  .reasons__item {
    width: 33.3%;
    display: flex;
    flex-wrap: wrap;
    border: none;

  }

  .reasons__item--fullcolour {
    flex-basis: 100%;
  }

  .reasons__info--fullcolour {
    flex-basis: 256px;
  }

  .reasons__header {
    width: 495px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}


@media (min-width: $desktop-width) {
  

  .reasons {
    @include desktop-container();
  }

  .reasons__info--fullcolour {
    flex-basis: 400px;
  }



.reasons__info--fullcolour {
  background-color: $main-color;
  padding-top: 32px;
  padding-bottom: 22px;
}
}
