/// mobile

.page-main {
  @include mobile-container();
}

.reasons__header {
  width: 320px;
  /*padding-left: 20px;
  padding-right: 20px;*/
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: $bg;
  margin: 0 auto;
}

.reasons__subtitle {
  @include text();
  margin-top: 30px;
}

.reasons__list {
  @include list-style();
  background-color: $bg;
}

.reasons__info--fullcolour {
  background-color: $main-color;
  padding-top: 32px;
  padding-bottom: 32px;
}

.reasons__item {
  text-align: center;
  padding-top: 32px;
  /*padding-right: 15px;
  padding-left: 15px;*/
  padding-bottom: 32px;

  &--advantage {
    background-color: #eeeeee;
    padding-top: 32px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #d6d6d6;
  }

  &--short:last-child {
    border-bottom: none;
  }
}

.reasons__name,
.reasons__text {
  padding: 0;
  line-height: 26px;

  &--detailed {
    color: $bg;
  }
}

.reasons__name {
  padding-bottom: 8px;
}

.reasons__text {
  margin-bottom: 14px;
}

.reasons__pic {
  display: block;
}

/// left

.reasons__name--town {
  text-align: left;
  padding-left: 50px;
}

.reasons__subtitle--recommendation {
  text-align: left;
  padding-left: 50px;
}

.reasons__item--accommodation {
  background-image: url("../img/icon-house.svg");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-size: 37px 37px;
}

.reasons__item--souvenirs {
  background-image: url("../img/icon-gift.svg");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-size: 37px 37px;
}

.reasons__item--food {
  background-image: url("../img/icon-burger.svg");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-size: 37px 37px;
}
