/// mobile


.reasons__header {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  box-sizing: border-box;
  text-align: center;
  background-color: $bg;
  margin: 0 auto;
}

.reasons__subtitle {
  @include subtitle();
}

.reasons__subtitle-main {
  margin-top: 30px;
}

.reasons__list {
  @include list-style();
  background-color: $bg;
}
.reasons__item {
  text-align: center;
  box-sizing: border-box;
  &--advantage {
    background-color: #eeeeee;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 18px;
    padding-left: 15px;
    border-bottom: 1px solid #d6d6d6;
}

  &--short:last-child {
    border-bottom: none;
  }
}

.reasons__item--accommodation {
  padding-top: 15px;
  padding-bottom: 15px;
}

.reasons__name {
  text-align: center;
  line-height: 26px;

  &--detailed {
    color: $bg;
  }
}

.reasons__item--fullcolour {
  margin-top: 32px;
}

.reasons__info--fullcolour {
  background-color: $main-color;
  padding-top: 50px;
  padding-bottom: 30px;
}

.reasons__text {
  text-align: center;
  line-height: 26px;

  &--detailed {
    color: $bg;
  }
}

.reasons__item--town {
  padding-left: 70px;
}

.reasons__name--town {
  text-align: left;
  padding-top: 17px;
}

.reasons__item--town p {
  @include text();
  width: 210px;
  text-align: left;
  margin-top: 8px;
}

.reasons__item--advantage p{
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}
.reasons__item--accommodation {
  background-image: url("../img/icon-house.svg");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-size: 37px 37px;
}

.reasons__item--souvenirs {
  background-image: url("../img/icon-gift.svg");
  background-position: 20px 0;
  background-repeat: no-repeat;
  background-size: 37px 37px;
}

.reasons__item--food {
  background-image: url("../img/icon-burger.svg");
  background-position: 20px 0;
  background-repeat: no-repeat;
  background-size: 37px 37px;
}


///tablet

@media (min-width: $tablet-width) {

  .reasons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

  .reasons__item {
    width: 256px;
    display: flex;
    flex-wrap: wrap;
    border: none;
  }

  .reasons__item--fullcolour {
    flex-basis: 100%;
  }

  .reasons__info--fullcolour {
    flex-basis: 256px;
  }

  .reasons__header {
    width: 495px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}


@media (min-width: $desktop-width) {
  .reasons__info--fullcolour {
    flex-basis: 400px;
  }

  .reasons__item {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    border: none;
  }

}




