.social {
  @include list-style();
  display: flex;
  margin: 40px 0;
  margin-top: 20px;
  margin-bottom: 28px;
  list-style: none;
}

.social__link {
  display: inline-block;
  min-height: 47px;
  width: 47px;
  margin-right: 6px;
  background-color: #81b3d2;
  vertical-align: middle;

  &:hover {
    background-color: $btn-hover-color;
  }

  &:focus,
  &:active {
    background-color: $btn-down-color;
  }
}

.social__link:first-child {
  margin-left: 0;
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;

  &:focus,
  &:active {
    background-image: url("../img/icon-twitter_down.svg");
  }
}

.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;

  &:focus,
  &:active {
    background-image: url("../img/icon-facebook_down.svg");
  }
}

.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;

  &:focus,
  &:active {
    background-image: url("../img/icon-youtube_down.svg");
  }
}

.copyright__svg {
  display: block;
  padding-top: 5px;
  padding-left: 10px;
  width: 40px;
  height: 45px;

  fill: $main-text-color;

  &:hover {
    fill: $main-color;
  }

  &:focus,
  &:active {
    fill: #b2b2b2;
  }
}
