.video {
  border: none;
  padding-bottom: 100px;
  width: 320px;
}

.video__picture {
  display: block;
  width: 100%;
  height: auto;
}

.video__title {
  @include headline();
  padding-bottom: 12px;
}

.video__subtitle {
  width: 250px;
  margin: 0 auto;
  line-height: 26px;
  padding-bottom: 30px;
}

.plain-text {
  @include text();
}

.video_presentation {
  position: relative;
}

/*conttols*/

.video__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -60px;
  width: 280px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 45px, $input-main 45px, $input-main 100%);
  margin: 0 auto;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: auto;
}

.video__item {
  outline: none;
  background: transparent;
}

.video__item--replay,
.video__item--subtitles,
.video__item--fullscreen {
  outline: none;
  background: transparent;
  padding-top: 20px;
  border: none;
}

.video__item--progress {
  width: 280px;
  height: 45px;
  margin: 0 auto;
}

.video__item--replay {
  padding-left: 20px;
}

.video__item--fullscreen {
  padding-right: 20px;
}

.video__buttons {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.video__item--progress span {
  width: 235px;
  height: 2px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 22px;
  background-color: rgba(255, 255, 255, 0.2);
}

.video__item--progress span::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 35px;
  background-color: $bg;
}

.video__item--progress span:hover::after {
  background-color: $form-border;
}

.video__item--progress span:focus::after,
.video__item--progress span:active::after {
  background-color: #c1c1c1;
}

.video__item--subtitles {
  padding-left: 150px;
}

.video__pic-replay {
  width: 16px;
  height: 20px;

  fill: $video-control;

  &:hover {
    fill: $lable-text;
  }

  &:focus,
  &:active {
    fill: $video-control-down;
  }
}


.video__pic-subtitles {
  width: 32px;
  height: 20px;

  fill: $video-control;

  &:hover {
    fill: $lable-text;
  }

  &:focus,
  &:active {
    fill: $video-control-down;
  }
}

.video__pic-fullscreen {
  width: 20px;
  height: 20px;

  fill: $video-control;

  &:hover {
    fill: $lable-text;
  }

  &:focus,
  &:active {
    fill: $video-control-down;
  }
}


/*conttols*/

/// tablet

@media (min-width: $tablet-width) {
  .video__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 648px;
    padding: 20px 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);

    margin-bottom: 65px;
    background-image: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }


  .video {
    width: 648px;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    margin: 0;
  }

  .video__title {
    font-size: 30px;
    padding-bottom: 4px;
  }

  .video__subtitle {
    width: 440px;
    padding-bottom: 75px;
  }

  .video__item--replay {
    order: -1;
  }

  .video__item--progress {
    width: auto;
    background-color: transparent;
    flex-grow: 1;
  }

  .video__item--replay,
  .video__item--subtitles,
  .video__item--fullscreen,
  .video__item--progress {

    padding: 0;
    width: 60px;
    margin: 0 auto;
  }

  .video__item--progress span {
    width: auto;
  }

  .video__item--replay,
  .video__item--subtitles {
    margin: 0 auto;
    padding-left: 20px;
  }


  .video__pic-replay {

    fill: $bg;

    &:hover {
      fill: #c2c2c2;
    }

    &:focus,
    &:active {
      fill: #949494;
    }
  }

  .video__pic-subtitles {
    fill: $bg;

    &:hover {
      fill: #c2c2c2;
    }

    &:focus,
    &:active {
      fill: #949494;
    }
  }

  .video__pic-fullscreen {

    fill: $bg;

    &:hover {
      fill: #c2c2c2;
    }

    &:focus,
    &:active {
      fill: #949494;
    }
  }
}

/// desktop

@media (min-width: $desktop-width) {
  .video {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 70px;
  }

  .video__controls {
    width: 800px;
  }
}
