.video {
  border: none;
  padding-bottom: 100px;
  width: 320px;
}

.video__picture {
  display: block;
  width: 100%;
  height: auto;
}

.video__title {
  @include headline();
}

.plain-text {
  @include text();
}

.video_presentation {
  position: relative;
}



/*conttols*/

.video__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -60px;
  width: 280px;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.6) 45px,
  $input-main 45px,

  $input-main 100%);

  margin: 0 auto;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: auto;
}

.video__item--replay,
.video__item--subtitles,
.video__item--fullscreen {

  padding-top: 20px;
}

.video__item--progress {
  margin-bottom: -20px;
}

.video__item--replay {
  padding-left: 20px;
}

.video__item--fullscreen {
  padding-right: 20px;
}
/*
.video__item--replay {
  padding-left: 20px;
}

.video__item--fullscreen {
  padding-right: 20px;
}
*/

.video__buttons {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.video__item--progress {
  width: 280px;
  height: 45px;
  /*background-color: rgba(0, 0, 0, 0.6);*/
  margin: 0 auto;
}


.video__item--progress span {
  width: 235px;
  height: 2px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 22px;
  background-color: rgba(255, 255, 255, 0.2);
}

.video__item--progress span::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 35px;
  background-color: $bg;
}

.video__item--progress span:hover::after {
  background-color: $form-border;
}

.video__item--progress span:focus::after,
.video__item--progress span:active::after {
  background-color: #c1c1c1;
}

.video__item--subtitles {
  padding-left: 150px;
}









/*conttols*/

/// tablet

@media (min-width: $tablet-width) {
  .video__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;

    width: 280px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: $input-main;

  }


  .video {
    width: 650px;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0;
    margin: 0
  }
}
/// desktop

@media (min-width: $desktop-width) {
  .video {
    width: 800px;

  }
}
