.feedback-form {
  @include mobile-container();
  max-width: 280px;
}

.feedback-form__fieldset {
  @include mobile-container();
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0;
  border-bottom: 1px solid $photo-border;

  &:last-child {
    border-bottom: none;
  }
}

.feedback-form__input--text,
.feedback-form__textarea,
.feedback-form__label--checkbox,
.feedback-form__textarea::placeholder,
.feedback-form__input::placeholder,
.feedback-form__label--radio {
  @include form-text();
  text-transform: none;
  color: $main-text-color;
}


.feedback-form__legend {
  @include headline();

  padding-top: 20px;
  width: 280px;
}

.feedback-form__input--text,
.feedback-form__textarea {
  background-color: $input-main;
  border: none;
  box-sizing: border-box;
  padding: 10px 20px;

  &:hover {
    background-color: $input-main-hover;
  }

  &:focus,
  &:active {
    background-color: $bg;
    outline: none;
    box-shadow: 0 0 0 4px $input-main-hover inset;
  }
}

.feedback-form__input-wrapper {
  width: 280px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.feedback-form__input--background {
  width: 280px;
}

.feedback-form__icon--mail {
  width: 280px;
}

.feedback-form__input-wrapper--contact {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  box-sizing: border-box;
}

.feedback-form__input--text {
  flex-grow: 1;
  box-sizing: border-box;
}

.feedback-form__icon {
  display: flex;
  width: 280px;
}

.feedback-form__icon::after {
  content: "";
  width: 58px;
  background-color: $form-icon;
  background-position: center;
  background-size: 18px;
  background-repeat: no-repeat;
}

.feedback-form__icon--tel::after {
  background-image: url("../img/icon-phone.svg");
}

.feedback-form__icon--mail::after {
  background-image: url("../img/icon-mail.svg");
}

.feedback-form__input-wrapper--impression {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.feedback-form__label--radio {
  padding-left: 70px;
}

.feedback-form__label--radio::before {
  content: "";
  width: 21px;
  height: 21px;
  border: 17px solid $input-main;
  border-radius: 50%;
  background-color: $input-main;
  position: absolute;
  cursor: pointer;
  top: -5px;
  left: 0;
}

.feedback-form__label--radio:hover::before {
  background-color: $input-main-hover;
  border-color: $input-main-hover;
}

.feedback-form__label--radio:focus::before,
.feedback-form__label--radio:active::before {
  background-color: $input-main-down;
  border-color: $input-main-down;
}

.feedback-form__input--radio:checked ~ .feedback-form__label--radio::before,
.feedback-form__input--radio:checked ~ .feedback-form__label--radio:hover::before { /*?*/
  background-color: $main-text-color;
}

.feedback-form__input:checked ~ .feedback-form__input__label--radio:focus::before,
.feedback-form__input--radio:checked ~ .feedback-form__label--radio:active::before {
  background-color: rgba($main-text-color, 0.3);
}

.feedback-form__input--radio:disabled ~ .feedback-form__label--radio {
  opacity: 0.3;
}

.feedback-form__input--radio:disabled ~ .feedback-form__label--radio::before {
  background-color: $input-main;
  border-color: $input-main;

  &:hover,
  &:focus,
  &:active {
    background-color: $input-main;
    border-color: $input-main;
  }
}

.feedback-form__input-wrapper--sights {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.feedback-form__label--checkbox {
  padding-left: 70px;
}

.feedback-form__label--checkbox::before {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  margin-right: 24px;
  background-color: $input-main;
  border-radius: 5px;
  cursor: pointer;
  top: -5px;
  left: 0;
}

.feedback-form__label--checkbox:hover::before {
  background-color: $input-main-hover;
}

.feedback-form__label--checkbox:focus::before,
.feedback-form__label--checkbox:active::before {
  background-color: $input-main-down;
}

.feedback-form__input--checkbox:checked ~ .feedback-form__label--checkbox::before {
  position: absolute;
  background-position: center;
  background-image: url("../img/icon-tick.svg");
  background-size: 25px;
  background-repeat: no-repeat;
}

.feedback-form__input--checkbox:checked ~ .feedback-form__label--checkbox:hover::before {
  background-image: url("../img/icon-tick.svg");
}

.feedback-form__input--checkbox:checked ~ .feedback-form__label--checkbox:focus::before,
.feedback-form__input--checkbox:checked ~ .feedback-form__label--checkbox:active::before {
  background-image: url("../img/icon-tick_down.svg");
}

.feedback-form__input--checkbox:disabled ~ .feedback-form__label--checkbox {
  opacity: 0.3;
}

.feedback-form__input--checkbox:disabled ~ .feedback-form__label--checkbox::before {
  background-color: $input-main;
  background-image: none;
}

.feedback-form__textarea {
  width: 280px;
  max-width: 280px;
  min-height: 160px;
  box-sizing: border-box;
}
