.photo__header {
  width: 320px;
  margin: 0 auto;
}

.photo__wrapper {
  @include mobile-container();
}

.main-headline {
  @include headline();
}

.plain-text {
  @include text();
  text-align: center;
}

.photo__author {
  @include photo-description-text();
  padding-top: 10px;
  padding-bottom: 10px;
}

.photo__title,
.photo__sum-likes {
  @include photo-description-text();
  padding-top: 10px;
  padding-bottom: 10px;
}

.photo__author {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding-top: 3px;
  color: $main-text-color;
  text-transform: none;
}

.photo__sum-likes {
  padding-left: 42px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 0px 10px;
  box-sizing: border-box;
}

.photo__wrapper {
  border-top: 1px solid $form-border;
  padding-top: 10px;

  &:last-child {
   border-bottom: 1px solid $form-border;
  }
}

